<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cache system </title>
</head>
<body>
<script src="./index.js"></script>
<script>
  const ca = new CacheSystem();
  ca.set('abc', 11111, 2000);
  ca.set('abc2', 22222, 3000);
  ca.set('abc3', 22222, 10);
  console.log(ca.get('abc'))

  setTimeout(() => {
    console.log(ca.get('abc3'))
  }, 3000);
</script>
</body>
</html>
